{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Commits</title>
    <link rel="stylesheet" href="{% static 'css/geral.css' %}">
    <link rel="stylesheet" href="{% static 'css/commits.css' %}">
    <link rel="stylesheet" href="{% static 'css/drop.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>

<div class="headerMain">
    <header class="barrasuperior fundoPreto">
        <img class="logo" src="{% static 'assets/logo.png' %}" height="50">

        <div class="usuario">
            <span class="fonte12 fonteRegular">{{header.username}}</span>
            <span class="fonte12 fonteRegular numero">{{header.id}}</span>
        </div>

        <a href="http://10.17.0.174:8080/members/user/{{header.actual_username}}/main/table/"> <img class="avatar" src="{{ header.avatar}}"  height="40" width="40" /> </a>

    </header>

    <div class="topo">
        <div>
            <a href="{% url 'PáginaPrincipal' %}"><img class="back" src="{% static 'assets/voltar.png' %}" height="50" width="50"/></a>
        </div>
        <div class="imagemProjeto">
            <img src={{ header.project_img}} height="30" width="70"/>
        </div>

        <div class="dir">
            <h1 class="nomeProjeto fonte24 fonteSemiBold fonteBranco">{{ header.projectname }}</h1>
            <div class="contadores">
                <div>
                    <img src="{% static 'assets/commit.png' %}" height="50" width="50"/> <!--15-->
                    <span class="fonte18 fonteRegular fonteBranco">{{ header.commits}}</span>
                </div>
                <div>
                    <img class="imgbranches" src="{% static 'assets/ramo.png' %}" height="50" width="50"/> <!--4-->
                    <span class="textodir fonte18 fonteRegular fonteBranco">{{ header.branches }}</span>
                </div>
            </div>

        </div>
    </div>

    <nav class="menu fonte18 fonteRegular fonteBranco">
        <ul>
            <li><a href="{% url 'visaogeral' %}">Visão Geral</a></li>
            <li><a href="{% url 'tree' branch %}">Ficheiros</a></li>
            <li><a href="{% url 'commits' 1 'main' %}">Commits</a></li>
            <li><a href="{% url 'issuesAbertos' %}?next=0">Issues</a></li>
            <li><a href="{% url 'membros' %}">Membros</a></li>
        </ul>

        <hr>
        <hr style="width: 8%; border: 2px solid #AB3D79; margin-left: 17.4%">
    </nav>

    <div id="barra">
        <span class="atualizacao fonte 16 fonteRegular">Última atualização há {{ lastUpdate }}</span>
        <div class="selecionar fonte16 fonteRegular fonteBranco fundoCinzento">
            <div class="selecionar fonte16 fonteRegular fonteBranco fundoCinzento">
                <div id="box">
                    <img src="{% static 'assets/ramo.png' %}" height="50" width="50"/>

                    <span>{{branch}}</span>

                    <img class="seta" src="{% static 'assets/seta.png' %}" height="50" width="50"/>
                </div>

                <div class="drop fundoCinzento" hidden>
                    {%for branch in header.branchesOptions%}
                        <span><a href="{% url 'commits' 1 branch.name%}">{{branch.name}}</a></span>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>

<main>
    <div id="lista_commits">
        {% block dia %}
            {% for dia in dias %}
                <div class="dia">
                    <span class="fonte24 fonteBold">{{ dia.data }}</span>
                    <span class="fonte18 fonteLight">{{ dia.nCommits }} Commits</span>
                    {% block commit %}
                        {% for commit in dia.commits %}
                            <div class="commit">
                                {% if commit.imagem == none %}
                                    <img src="{% static 'assets/fotoPerfil.png' %}" title={{ i.assignee.username }}>
                                {% else %}
                                    <img src="{{ commit.imagem }}" title={{ i.assignee.username }}>
                                {% endif %}
                                <div>
                                    <span class="fonte18">{{ commit.titulo }}</span>
                                    <br>
                                    <span class="fonte16 fonteBold">{{ commit.nome }}</span>
                                </div>
                                <span class="fonte12 fonteLight">{{ commit.ficheiros }}</span>
                                <span class="fonte14">{{ commit.data }}</span>
                            </div>
                        {% endfor %}
                    {% endblock %}
                </div>
            {% endfor %}
        {% endblock %}
    </div>
</main>
</body>
</html>
<script src="{% static 'js/drop.js' %}"></script>