<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ficheiro</title>
    <link rel="stylesheet" href="{% static 'css/file_access.css' %}">
    <link rel="stylesheet" href="{% static 'css/geral.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">



</head>

<div class="headerMain">
    <header class="barrasuperior fundoPreto">
        <img class="logo" src="{% static 'assets/logo.png' %}" height="50">

        <div class="usuario">
            <span class="fonte12 fonteRegular">{{header.username}}</span>
            <span class="fonte12 fonteRegular numero">{{header.id}}</span>
        </div>

        <a href="http://10.17.0.174:8080/members/user/{{header.actual_username}}/main/table/"> <img class="avatar" src="{{ header.avatar}}"  height="40" width="40" /> </a>

    </header>

    <div class="topo">
        <div>
            <a href=""><img class="back" src="{% static 'assets/voltar.png'%}" height="50" width="50"/></a>
        </div>
    </div>
</div>

<body>

<main>
    <div class="fonte18 caminho">
        <span>{{ filepath}}</span>
        <span class="fonteBold">{{filename}}</span>
    </div>

    <div id="barra">
        <span class="atualizacao fonte 16 fonteRegular">Última atualização há {{ lastUpdate }}</span>
    </div>


    <div>

        <div id="info_ficheiro">
            <span>nome.file</span>
            <span>1.5 kb</span>
            <span>O(n) = log(n)</span>
        </div>

        <div id="historico">
            <span>Histórico</span>
                {% for c in commits %}
                    <div class="dia">
                        <span class="fonte24 fonteBold">{{c.0.committed_date}}</span>
                        <span class="fonte16 fonteLight">
                            {% if c|length == 1 %}
                                {{ c|length }} commit
                            {% else %}
                                {{ c|length }} commits
                            {% endif %}
                        </span>
                            {% for com in c %}
                                <div class="commit_file">
                                    <span>{{ com.title}}</span>
                                    <span class="fonte16 fonteBold">{{com.author_name}}</span>
                                    <img class="setaAlt" alt="arrow down" src="{%  static 'assets/seta.png'%}" width="60px">
                                    <div class="alteracoes fonte16">
                                        {% if com.stats.additions != 0 %}
                                            {% if com.stats.additions == 1 %}
                                                <span>++{{com.stats.additions}} Linha Adicionada</span>
                                            {% else%}
                                                <span>++{{com.stats.additions}} Linhas Adicionadas</span>
                                            {% endif %}
                                        {% endif %}
                                        {% if com.stats.deletions != 0 %}
                                            {% if com.stats.deletions == 1 %}
                                                <span>--{{com.stats.deletions}} Linha Removida</span>
                                            {% else%}
                                                <span>--{{com.stats.deletions}} Linhas Removidas</span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor  %}
                    </div>
                {% endfor %}
        </div>
    </div>
</main>

</body>
<script src="{%  static 'js/file_access.js'%}"></script>
</html>