{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ficheiro</title>
    <link rel="stylesheet" href= "{% static 'css/geral.css' %}">
    <link rel="stylesheet" href= "{% static 'css/grid.css' %}">
    <link rel="stylesheet" href= "{% static 'css/header.css' %}">
</head>
<body>

<div class="headerMain">
    <header class="barrasuperior fundoPreto">
        <img class="logo" src="../static/assets/logo.png" height="50">

        <div class="usuario">
            <span class="fonte12 fonteRegular">{{header.username}}</span>
            <span class="fonte12 fonteRegular numero">{{header.id}}</span>
        </div>

        <!--<a href="http://10.17.0.174:8080/members/user/{{header.actual_username}}/main/table/"> <img class="avatar" src="{{ header.avatar}}"  height="40" width="40" /> </a><!-->
</header>

<br>

<div class="block">
    <span class="fonte48">
        Os teus projetos
    </span>
    <br>
    <div class="container">

    </div>
    <div class="barra">

    </div>
</div>

<br>


{% for proj in list_projects%}
<a style="cursor: pointer;" class="repoButton"  >
    <div class="grid"  onmouseover="button_over(this)" onmouseout="button_leave(this)">
            <div class="item1" >
                {% if proj.0.avatar_url %}
                <img class="icon"  src= {{ proj.0.avatar_url }} alt="">
                {%else %}
                <img class="icon" src= "{% static 'assets/computer.jpg' %}" alt="">
                {%endif%}
            </div>
            <div class="item2">
                <span class="fonte24">
                    {{proj.0.name}}
                </span>
            </div>

            <div  class="grid_form">
                <form  action="" method="post">
                    <button hidden type="submit" name='projeto' value={{ proj.0.id }}>Aceder</button>
                </form>
            </div>


            <div class="item3">
                <img class="icon" src= "{% static 'assets/commit.png' %}" alt="">
                <span class="fonte18">
                    {{proj.1}}
                </span>
            </div>
            <div class="item4">
                <img class="icon" src= "{% static 'assets/ramo.png' %}" alt="">
                <span class="fonte18">
                    {{ proj.2 }}
                </span>
            </div>
            <div class="item5"></div>
            <div class="item6">
                <span class="fonte18">
                    Atualizado há {{ proj.3 }}
                </span>
            </div>

    </div>
</a>
{%endfor%}

</body>


<script src = "{% static 'js/Funcs.js' %}">

</script>


</html>