{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/geral.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <!--<link rel="stylesheet" href= "{% static 'css/header.css' %}">-->
    <!--<link rel="stylesheet" href= "{% static 'css/geral.css' %}">-->
</head>

<a href=""><img class="back" src="{% static 'assets/voltar.png' %}" height="50" width="50"/></a>

<header class="barrasuperior fundoPreto">
    <img src="{% static 'assets/logo.png' %}" height="50">

    <div class="usuario">
        <span class="fonte12 fonteRegular">Luís Gonçalves</span>
        <span class="fonte12 fonteRegular numero">12345</span>
    </div>
    <img class="avatar" src="{% static 'assets/fotoPerfil.png.png' %}"/>

</header>

<body>
<div class="topo">
    <div class="imagemProjeto" style="background: floralwhite;width: 100px;height:100px">
        <!--<img src="../static/assets/logo.png" height="73" width="72"/> -->
    </div>

    <div class="dir">
        <h1 class="nomeProjeto fonte24 fonteSemiBold fonteBranco">Softwork/Stormlab</h1>
        <div class="contadores">
            <div>
                <img src="{% static 'assets/commit.png' %}" height="50" width="50"/> <!--15-->
                <span class="fonte18 fonteRegular fonteBranco">23</span>
            </div>
            <div>
                <img class="imgbranches" src="{% static 'assets/ramo.png' %}" height="50" width="50"/> <!--4-->
                <span class="textodir fonte18 fonteRegular fonteBranco">1</span>
            </div>
        </div>

    </div>
</div>

<nav class="menu fonte18 fonteRegular fonteBranco">
    <ul>
        <li><a href="">Visão Geral</a></li>
        <li><a href="{% url 'tree' branch %}">Ficheiros</a></li>
        <li><a href="{% url 'commits' 1 'main' %}">Commits</a></li>
        <li><a href="{% url 'issuesAbertos' %}?next=0">Issues</a></li>
        <li><a href="{% url 'membros' %}">Membros</a></li>
    </ul>

    <hr>
    <hr class="rosa">
</nav>

<div id="barra">
    <span class="atualizacao fonte 16 fonteRegular">Última atualização há 20 minutos</span>
    <div class="selecionar fonte16 fonteRegular fonteBranco fundoCinzento">
        <div>
            <img src="{% static 'assets/ramo.png' %}" height="50" width="50"/>

            <span>Main</span>

            <img class="seta" src="{% static 'assets/seta.png' %}" height="50" width="50"/>
        </div>

        <div class="drop fundoCinzento" hidden>
            <span>Outro</span>
            <span>Outro</span>
        </div>
    </div>
</div>


<script src="{% static 'js/drop.js' %}"></script>