{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issues Fechados</title>
    <link rel="stylesheet" href="{%  static 'css/geral.css'  %}">
    <link rel="stylesheet" href="{%  static  'css/issues.css'  %}">
</head>
<body>
<main>
    <div id="issueNavegacao">
        <div id="issueNavWrap">
            <div id="issueTipos">
                {% block issueTipos %}
                <div id="issueTipoAberto">
                    <span class="fonte22"><a href="https://stormlab.herokuapp.com/issues/open">Aberto</a></span>
                    <span class="issueTipoN fonte16">{{ numero_total.statistics.counts.opened }}</span>
                </div>
                <div id="issuesTipoFechado" class="issueTipoAtivo">
                    <span class="fonte22"><a href="https://stormlab.herokuapp.com/issues/closed">Fechado</a></span>
                    <span class="issueTipoN fonte16">{{ numero_total.statistics.counts.closed }}</span>
                </div>
                <div id="issuesTipoTodos">
                    <span class="fonte22"><a href="https://stormlab.herokuapp.com/issues/">Total</a></span>
                    <span class="issueTipoN fonte16">{{ numero_total.statistics.counts.all }}</span>
                </div>
                {% endblock %}
            </div>
            <div id="atualizacao" class="fonte16 fonteCinzento">
                <span>última atualização há</span>
                <span>30min</span>
            </div>
        </div>
    </div>
    <div id="issues">


        {% block issue %}

            {% for i in my_issues_fechados %}
                <div class="issue">
                    {{ i.assignee }}
                    <span class="issueTitulo fonte18">{{ i.title }}</span>
                    <div class="issueInfoEsquerda fonte14">
                        <span class="issueID fonte12 fonteCinzento">id# {{ i.iid }}</span>
                        <div class="issueCriacao">
                            <span>criado há 1 hora por</span> {# alterar depois  #}
                            <span class="fonteRoxo fonteBold">Luís Gonçalves</span>
                        </div>
                        <div class="issueMilestone">
                            <img src="../static/assets/relogio.png" alt="relogio">
                            <span>{{ i.milestone.title }}</span>
                        </div>
                        <div class="issueDataLimite">
                            <img src="../static/assets/calendario.png" alt="calendario">
                            <span>21/21/21</span>
                        </div>
                        <span class="issueEtiqueta fonte12"> Etiqueta </span>
                        <div class="issueEstimativa">
                            <img src="../static/assets/cronometro.png" alt="cronometro">
                            <span>{{ i.time_stats.time_estimate }}</span>
                        </div>
                    </div>
                    <div class="issueInfoDireita fonte14">
                        <div>
                            <img src="{{ i.assignee.avatar_url }}" alt="autor">
                            <span class="issueAtualizacao">atualizado há 20 minutos</span>
                        </div>
                    </div>
                </div>

            {% endfor %}

        {% endblock %}
        <!--<div class="issue">
            <span class="issueTitulo fonte18">Reunião 14/11</span>
            <div class="issueInfoEsquerda fonte14">
                <span class="issueID fonte12 fonteCinzento">id# 1234</span>
                <div class="issueCriacao">
                    <span>criado há</span>
                    <span>1 hora</span>
                    <span>por</span>
                    <span class="fonteRoxo fonteBold">Luís Gonçalves</span>
                </div>
                <div class="issueMilestone">
                    <img src="assets/grid.png" alt="relogio">
                    <span>milestone</span>
                </div>
                <div class="issueDataLimite">
                    <img src="assets/grid.png" alt="calendario">
                    <span>21/21/21</span>
                </div>
                <span class="issueEtiqueta fonte12"> Etiqueta </span>
                <div class="issueEstimativa">
                    <img src="assets/grid.png" alt="cronometro">
                    <span>1h20m</span>
                </div>
            </div>
            <div class="issueInfoDireita fonte14">
                <div>
                    <img src="assets/grid.png" alt="autor">
                    <span class="issueAtualizacao">atualizado há 20 minutos</span>
                </div>
            </div>
            python .\DEV\\stormlab_app\\manage.py runserver
            -->
    </div>
    </div>
</main>
</body>
</html>