{% load static %}
{% load poll_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issues Todos</title>
    <link rel="stylesheet" href="{% static 'css/geral.css' %}">
    <link rel="stylesheet" href="{% static 'css/issues.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>

<div class="headerMain">
    <header class="barrasuperior fundoPreto">
        <img class="logo" src="{% static 'assets/logo.png' %}" height="50">

        <div class="usuario">
            <span class="fonte12 fonteRegular">{{header.username}}</span>
            <span class="fonte12 fonteRegular numero">{{header.id}}</span>
        </div>

        <a href="http://10.17.0.174:8080/members/user/{{header.actual_username}}/main/table/"> <img class="avatar" src="{{ header.avatar}}"  height="40" width="40" /> </a>

    </header>

    <div class="topo">
        <div>
            <a href="{% url 'PáginaPrincipal' %}"><img class="back" src="{% static 'assets/voltar.png' %}" height="50" width="50"/></a>
        </div>
        <div class="imagemProjeto">
            <img src={{ header.project_img}} height="30" width="70"/>
        </div>

        <div class="dir">
            <h1 class="nomeProjeto fonte24 fonteSemiBold fonteBranco">{{ header.projectname }}</h1>
            <div class="contadores">
                <div>
                    <img src="../static/assets/commit.png" height="50" width="50"/> <!--15-->
                    <span class="fonte18 fonteRegular fonteBranco">{{ header.commits}}</span>
                </div>
                <div>
                    <img class="imgbranches" src="../static/assets/ramo.png" height="50" width="50"/> <!--4-->
                    <span class="textodir fonte18 fonteRegular fonteBranco">{{ header.branches }}</span>
                </div>
            </div>

        </div>
    </div>

    <nav class="menu fonte18 fonteRegular fonteBranco">
        <ul>
            <li><a href="{% url 'visaogeral' %}">Visão Geral</a></li>
            <li><a href="{% url 'tree' branch %}">Ficheiros</a></li>
            <li><a href="{% url 'commits' 1 'main' %}">Commits</a></li>
            <li><a href="{% url 'issuesAbertos' %}?next=0">Issues</a></li>
            <li><a href="{% url 'membros' %}">Membros</a></li>
        </ul>

        <hr>
        <hr style="width: 8%; border: 2px solid #AB3D79; margin-left: 28%">
    </nav>
</div>
<main>
    <div id="issueNavegacao">
        {% for i in my_issues_fechados %}
            {{ i.labels }}

        {% endfor %}
        <div id="issueNavWrap">
            <div id="issueTipos">
                <div id="issueTipoAberto">
                    <span class="fonte22"><a href="{% url 'issuesAbertos' %}?next=0">Aberto</a></span>
                    <span class="issueTipoN fonte16">{{ numero_total.statistics.counts.opened }}</span>
                </div>
                <div id="issuesTipoFechado">
                    <span class="fonte22"><a href="{% url 'issuesFechados' %}?next=0">Fechado</a></span>
                    <span class="issueTipoN fonte16">{{ numero_total.statistics.counts.closed }}</span>
                </div>
                <div id="issuesTipoTodos" class="issueTipoAtivo">
                    <span class="fonte22"><a href="{% url 'issuesTotal' %}?next=0">Todos</a></span>
                    <span class="issueTipoN fonte16">{{ numero_total.statistics.counts.all }}</span>
                </div>
            </div>
                <span><a href="{% url 'issuesTotal' %}?next={{ my_page }}">
                    <img id="esquerda" src="{% static 'assets/seta.png' %}" height="30px">
                </a></span>
                <span id="page">Page {{ my_page }}</span>
                <span><a href="{% url 'issuesTotal' %}?previous={{ my_page }}">
                    <img id="direita" src="{% static 'assets/seta.png' %}" height="30px">
                </a></span>
            <div id="atualizacao" class="fonte16 fonteCinzento">
                <span>Última atualização há</span>
                <span>{{ lastUpdateTotal }}</span>
            </div>
        </div>
    </div>
    <div id="issues">
            {% block issue %}
                {% for i in my_issues_total %}
                    <div class="issue">
                        <span class="issueTitulo fonte18">{{ i.title }}</span>
                        <div class="issueInfoEsquerda fonte14">
                            <span class="issueID fonte12 fonteCinzento">id# {{ i.iid }}</span>
                            <div class="issueCriacao">
                                <span>criado em {{ i.created_at }} por </span>
                                <span class="fonteRoxo fonteBold">{{ i.author.name }}</span>
                            </div>
                            {% if i.milestone.title != none %}
                                <div class="issueMilestone">
                                    <img src="{% static 'assets/relogio.png' %}" alt="relogio" title="Milestone">
                                    <span>{{ i.milestone.title }}</span>
                                </div>
                            {% endif %}
                            {% if i.due_date != none %}
                                <div class="issueDataLimite">
                                    <img src="{% static 'assets/calendario.png' %}" alt="calendario" title="Due Date">
                                    <span>{{ i.due_date }}</span>
                                </div>
                            {% endif %}
                            {% with form.instance.i.label|split:"," as skills %}
                                {% for skill in i.labels %}
                                    <span class="issueEtiqueta fonte12"
                                          style="background-color:{{ skill.color }}"> {{ skill }} </span>
                                {% endfor %}
                            {% endwith %}
                            {% if i.time_stats.time_estimate > 0 %}
                                <div class="issueEstimativa">
                                    <img src="{% static 'assets/cronometro.png' %}" alt="cronometro" title="Estimativa">
                                    <span>{% widthratio i.time_stats.time_estimate 60 1 %}min</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="issueInfoDireita fonte14">
                            <div>
                                {% for k in i.assignees %}
                                    {% if k.avatar_url == none %}
                                        <a class="issueInfoDireita fonte14" href="{% url 'perfil_tabela'  k.username main %}">
                                            <img src="../static/assets/fotoPerfil.png" alt="autorGit" title={{ k.name }}></a>
                                    {% else %}
                                        <a class="issueInfoDireita fonte14" href="{% url 'perfil_tabela'  k.username main %}">
                                            <img src="{{ k.avatar_url }}" alt="autor" title={{ k.name }}></a>
                                    {% endif %}
                                {% endfor %}
                                <span class="issueAtualizacao">{{ i.updated_at }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endblock %}
    </div>
</main>
</body>
<script>
    let issues = document.querySelector('#issues');
    issues.setAttribute('style', 'position:absolute; width:100%; overflow-y:auto; max-height:850px');
    console.log(issues);
</script>
</html>