{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/geral.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>

<span class="fonte80 title">StormLab</span>

<div>
    <img src="{% static 'assets/logo.png' %}" alt="logo" width="400" height="auto">

    <form action="" method="post">
        <label class="fonte24">Token</label>
        <input type="text" name="token" placeholder="Token pessoal">
        <input class="fonte18" type="submit" name="submit" value="Entrar">
    </form>

    {% if token == 'invalid' %}
        <script> alert("Token inválido!");  </script>
    {% endif %}
</div>

</body>
</html>