{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/geral.css' %}">
    <link rel="stylesheet" href="{% static 'css/membros.css' %}">
    <link rel="stylesheet" href="{% static 'css/drop.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>

<div class="headerMain">
    <header class="barrasuperior fundoPreto">
        <img class="logo" src="{% static 'assets/logo.png' %}" height="50">

        <div class="usuario">
            <span class="fonte12 fonteRegular">{{header.username}}</span>
            <span class="fonte12 fonteRegular numero">{{header.id}}</span>
        </div>

        <a href="http://10.17.0.174:8080/members/user/{{header.actual_username}}/main/table/"> <img class="avatar" src="{{ header.avatar}}"  height="40" width="40" /> </a>

    </header>

    <div class="topo">
        <div>
            <a href=""><img class="back" src="{% static 'assets/voltar.png' %}" height="50" width="50"/></a>
        </div>
        <div class="imagemProjeto">
            <img src={{ header.project_img}} height="50" width="50"/>
        </div>

        <div class="dir">
            <h1 class="nomeProjeto fonte24 fonteSemiBold fonteBranco">{{ header.projectname }}</h1>
            <div class="contadores">
                <div>
                    <img src="{% static 'assets/commit.png' %}" height="50" width="50"/> <!--15-->
                    <span class="fonte18 fonteRegular fonteBranco">{{ header.commits}}</span>
                </div>
                <div>
                    <img class="imgbranches" src="{% static 'assets/ramo.png' %}" height="50" width="50"/> <!--4-->
                    <span class="textodir fonte18 fonteRegular fonteBranco">{{ header.branches }}</span>
                </div>
            </div>

        </div>
    </div>

    <nav class="menu fonte18 fonteRegular fonteBranco">
        <ul>
            <li><a href="">Visão Geral</a></li>
            <li><a href="{% url 'tree' branch %}">Ficheiros</a></li>
            <li><a href="{% url 'commits' 1 'main'%}">Commits</a></li>
            <li><a href="{% url 'issuesAbertos' %}?next=0">Issues</a></li>
            <li><a href="{% url 'membros' %}">Membros</a></li>
        </ul>

        <hr>
        <hr style="width: 8%; border: 2px solid #AB3D79; margin-left: 33.5%">
    </nav>
</div>
<main>
    <div class="cima">
        <div class="selecionar fonte16 fonteRegular fonteBranco fundoCinzento">
            <div>

                <img src="{% static 'assets/ramo.png' %}" height="50" width="50"/>

                <span>TODOS</span>

                <img class="seta" src="{% static 'assets/seta.png' %}" height="50" width="50"/>
            </div>
            <div class="drop fundoCinzento" hidden>
                <span id="ARCH">ARCH</span>
                <span id="DES">DES</span>
                <span id="DEV">DEV</span>
                <span id="ENV">ENV</span>
                <span id="PM">PM</span>
                <span id="PROC">PROC</span>
                <span id="PROD">PROD</span>
                <span id="QA">QA</span>
                <span id="REQ">REQ</span>
                <span id="TST">TST</span>
             </div>
        </div>

        <div style="display:flex" id="TODOS_inf">
            <span>Esforço: {{ total_lines_changed }} </span>
            <span>Contribuições: {{ total_commits }} </span>
        </div>
        <div id="ARCH_inf" style="display:none" >
            <span>Esforço: {{ infos.ARCH.0 }} </span>
            <span>Contribuições: {{ infos.ARCH.1 }} </span>
        </div>
        <div style="display:none" id="DES_inf">
            <span>Esforço: {{ infos.DES.0 }} </span>
            <span>Contribuições: {{ infos.DES.1 }} </span>
        </div>
        <div style="display:none" id="DEV_inf">
            <span>Esforço: {{ infos.DEV.0 }} </span>
            <span>Contribuições: {{ infos.DEV.1 }} </span >
        </div>
        <div style="display:none" id="ENV_inf">

            <span>Esforço: {{ infos.ENV.0 }} </span>
            <span>Contribuições: {{ infos.ENV.1 }} </span>
        </div>
        <div style="display:none" id="PM_inf">

            <span>Esforço: {{ infos.PM.0 }} </span>
            <span>Contribuições: {{ infos.PM.1 }} </span>
        </div>

        <div style="display:none" id="PROC_inf">

            <span>Esforço: {{ infos.PROC.0 }} </span>
            <span>Contribuições: {{ infos.PROC.1 }} </span>
        </div>
        <div style="display:none" id="PROD_inf">

            <span>Esforço: {{ infos.PROD.0 }} </span>
            <span>Contribuições: {{ infos.PROD.1 }} </span>
        </div>
        <div style="display:none" id="QA_inf">

            <span>Esforço: {{ infos.QA.0 }} </span>
            <span>Contribuições: {{ infos.QA.1 }} </span>
        </div>
        <div style="display:none" id="REQ_inf">

            <span>Esforço: {{ infos.REQ.0 }} </span>
            <span>Contribuições: {{ infos.REQ.1 }} </span>
        </div>
        <div style="display:none" id="TST_inf">
            <span>Esforço: {{ infos.TST.0 }} </span>
            <span>Contribuições: {{ infos.TST.1 }} </span>
        </div>

    </div>
    <div class="geral" >
        <div class="barra">
            <h2 class="fonte18">Nome</h2>
            <h2 class="fonte18">Papel</h2>
        </div>

        <table class="fonte18" style="width:100%">
            {% for name,papel in data %}
                <tr class="ficheiro" style="width:100%">
                    <td>
                        <img src="{% static 'assets/fotoPerfil.png' %}" height="55"/>
                    </td>
                    <td class="nomepessoa">{{ name }}</td>

                    <td class="papel">{{ papel }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
</main>
<script src="{% static 'js/dropCategories.js' %}"></script>
</body>

</html>