{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <link rel="stylesheet" href="{% static 'css/geral.css' %}">
    <link rel="stylesheet" href="{% static 'css/drop.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

</head>
<body>


<div class="headerMain">
    <header class="barrasuperior fundoPreto">
        <img class="logo" src="{% static 'assets/logo.png' %}" height="50">

        <div class="usuario">
            <span class="fonte12 fonteRegular">{{header.username}}</span>
            <span class="fonte12 fonteRegular numero">{{header.id}}</span>
        </div>

        <a href="http://10.17.0.174:8080/members/user/{{header.actual_username}}/main/table/"> <img class="avatar" src="{{ header.avatar}}"  height="40" width="40" /> </a>

    </header>

    <div class="topo">
        <div>
            <a href=" {% url 'visaogeral' %}"><img class="back" src="{% static 'assets/voltar.png' %}" height="50" width="50"/></a>
        </div>
    </div>
</div>


<main>

    <div>
        <img src="{{ perfil.objet.avatar_url }}" class="fperfil image" height="330" alt="foto de perfil">
        <p class="nome fonte36">{{ perfil.objet.name }}</p>
        <p id="cnome" class="nome">{{ perfil.cargo }}</p>
    </div>

    <div class="selecionar fonte16 fonteRegular fonteBranco fundoCinzento">
        <div id="box">
            <img src="{% static 'assets/ramo.png' %}" height="50" width="50"/>

            <span>{{branch}}</span>

            <img class="seta" src="{% static 'assets/seta.png' %}" height="50" width="50"/>
        </div>

        <div class="drop fundoCinzento" hidden>
            {%for branch in header.branchesOptions%}
                <span><a href="{% url 'perfil_tabela' user branch.name%}">{{branch.name}}</a></span>
            {%endfor%}
        </div>
    </div>

    <div class="navegacao">
        <a href="{% url 'perfil_tabela' user branch%}" class="fonte24 fonteBold navTabela">Tabela de commits</a>
        <a href="{% url 'perfil_timeline' user branch%}" class="fonte24 fonteBold navTimeline">Timeline de commits </a>
        <hr>
        <hr class="rosaTabela">
    </div>

    <div class="tabela">
            {% for i in commitsArray %}
                <div>
                    <span>{{ i.title }}</span>
                </div>
            {% endfor %}

        <div>
        </div>
    </div>

</main>
</body>
</html>

<script src="{% static 'js/drop.js' %}"></script>