<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pastas</title>
    <link rel="stylesheet" href="{% static 'css/TabelaFicheiros.css' %}">
    <link rel="stylesheet" href="{% static 'css/geral.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

</head>
<body>

<div class="headerMain">
    <header class="barrasuperior fundoPreto">
        <img class="logo" src="{% static 'assets/logo.png' %}" height="50">

        <div class="usuario">
            <span class="fonte12 fonteRegular">{{header.username}}</span>
            <span class="fonte12 fonteRegular numero">{{header.id}}</span>
        </div>

        <a href="http://10.17.0.174:8080/members/user/{{header.actual_username}}/main/table/"> <img class="avatar" src="{{ header.avatar}}"  height="40" width="40" /> </a>
    </header>

    <div class="topo">
        <div>
            <a href="{% url 'PáginaPrincipal' %}"><img class="back" src="{% static 'assets/voltar.png' %}" height="50" width="50"/></a>
        </div>
        <div class="imagemProjeto">
            <img src={{ header.project_img}} height="30" width="70"/>
        </div>

        <div class="dir">
            <h1 class="nomeProjeto fonte24 fonteSemiBold fonteBranco">{{ header.projectname }}</h1>
            <div class="contadores">
                <div>
                    <img src="{% static 'assets/commit.png' %}" height="50" width="50"/> <!--15-->
                    <span class="fonte18 fonteRegular fonteBranco">{{ header.commits}}</span>
                </div>
                <div>
                    <img class="imgbranches" src="{% static 'assets/ramo.png' %}" height="50" width="50"/> <!--4-->
                    <span class="textodir fonte18 fonteRegular fonteBranco">{{ header.branches }}</span>
                </div>
            </div>
        </div>
    </div>

    <nav class="menu fonte18 fonteRegular fonteBranco">
        <ul>
            <li><a href="{% url 'visaogeral' %}">Visão Geral</a></li>
            <li><a href="{% url 'tree' branch %}">Ficheiros</a></li>
            <li><a href="{% url 'commits' 1 'main'%}">Commits</a></li>
            <li><a href="{% url 'issuesAbertos' %}?next=0">Issues</a></li>
            <li><a href="{% url 'membros' %}">Membros</a></li>
        </ul>

        <hr>
        <hr style="width: 8%; border: 2px solid #AB3D79; margin-left: 8.7%">
    </nav>

<div id="barra">
    <div class="selecionar fonte16 fonteRegular fonteBranco fundoCinzento">
        <div id="box">

            <img src="{% static 'assets/ramo.png' %}" height="50" width="50"/>

            <span>{{branch}}</span>

            <img class="seta" src="{% static 'assets/seta.png' %}" height="50" width="50"/>
        </div>

        <div class="drop fundoCinzento" hidden>
            {%for branch in header.branchesOptions%}
                <span><a href="{% url 'tree' branch.name%}">{{branch.name}}</a></span>
            {%endfor%}
        </div>
    </div>
</div>
<script src="{% static 'js/drop.js' %}"></script>
</div>

<main>
    <div class="geral">
        {% for i in my_count %}
            {% if i.path == first_file %}
            <div class="ultimo_commit fundoCinzento">
                <!--<img> -->
                <div class="temp_img">
                    {% if image == none %}
                        <img src="{% static 'assets/fotoPerfil.png' %}" title={{ name }}>
                    {% else %}
                        <img src="{{ image }}" title={{ name }}>
                    {% endif %}
                </div>
                <div class="info_commit">
                    <span>{{ commitTitle }}</span><br>
                    <span class="fonte16 fonteBold">{{ name }}</span>
                    <span class="fonte12 fonteLight">Atualizado há {{ lastUpdate }}</span>
                </div>
            </div>
            {% endif %}

            {% if forloop.counter == 1 %}
            <div class="barra">
                <h2 class="fonte18">Nome</h2>
                <h2 class="fonte18"></h2>
                <h2 class="fonte18"></h2>
            </div>
            {% endif %}

            <table class=" fonte18">
                <tr class="pasta" >
                    {% if i.type == "blob" %}
                        <td> <img src="{% static 'assets/ficheiro.png' %}" height="55" width="57" alt="pasta"/> </td>
                        <td class="nome_pasta" ><a href="{% url 'file_access' %}?filepath={{ i.path }}">{{ i.name }}</a></td>
                        <td class="mensagem_commit"> </td>
                        <td class="data"></td>
                    {% else %}
                        <td> <img src="{% static 'assets/pasta.png' %}" height="55" width="57" alt="pasta"/> </td>
                        <td class="nome_pasta" ><a href="{% url 'tree' branch %}?path={{ i.path }}">{{ i.name }}</a></td>
                        <td class="mensagem_commit"> </td>
                        <td class="data"></td>
                    {% endif %}

                </tr>
            </table>
        {% endfor %}
    </div>
</main>

</body>
</html>