{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visão Geral</title>
    <link rel="stylesheet" href="{% static 'css/visaogeral.css' %}">
    <link rel="stylesheet" href="{% static 'css/geral.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
<div class="headerMain">
    <header class="barrasuperior fundoPreto">
        <img class="logo" src="{% static 'assets/logo.png' %}" height="50">

        <div class="usuario">
            <span class="fonte12 fonteRegular">{{header.username}}</span>
            <span class="fonte12 fonteRegular numero">{{header.id}}</span>
        </div>

        <a href="http://10.17.0.174:8080/members/user/{{header.actual_username}}/main/table/"> <img class="avatar" src="{{ header.avatar}}"  height="40" width="40" /> </a>

    </header>

    <div class="topo">
        <div>
            <a href="{% url 'PáginaPrincipal' %}"><img class="back" src="{% static 'assets/voltar.png' %}" height="50" width="50"/></a>
        </div>
        <div class="imagemProjeto">
            <img src={{ header.project_img}} height="30" width="70"/>
        </div>

        <div class="dir">
            <h1 class="nomeProjeto fonte24 fonteSemiBold fonteBranco">{{ header.projectname }}</h1>
            <div class="contadores">
                <div>
                    <img src="{% static 'assets/commit.png' %}" height="50" width="50"/> <!--15-->
                    <span class="fonte18 fonteRegular fonteBranco">{{ header.commits}}</span>
                </div>
                <div>
                    <img class="imgbranches" src="{% static 'assets/ramo.png' %}" height="50" width="50"/> <!--4-->
                    <span class="textodir fonte18 fonteRegular fonteBranco">{{ header.branches }}</span>
                </div>
            </div>

        </div>
    </div>

    <nav class="menu fonte18 fonteRegular fonteBranco">
        <ul>
            <li><a href="{% url 'visaogeral' %}">Visão Geral</a></li>
            <li><a href="{% url 'tree' branch %}">Ficheiros</a></li>
            <li><a href="{% url 'commits' 1 'main' %}">Commits</a></li>
            <li><a href="{% url 'issuesAbertos' %}?next=0">Issues</a></li>
            <li><a href="{% url 'membros' %}">Membros</a></li>
        </ul>

        <hr>
        <hr style="width: 8%; border: 2px solid #AB3D79; margin-left: 0">
    </nav>

    <div id="barra">
        <span class="atualizacao fonte 16 fonteRegular">Última atualização há {{ lastUpdate }} </span>
    </div>
</div>
<div class="commits">
    <span class="fonteRegular fonte16">Últimos 10 commits</span>
    {% for i in committs %}
        {% for commit in i.commits %}
        <p></p>
        {% if commit.imagem == none %}
            <img src="{% static 'assets/fotoPerfil.png' %}" title={{ i.assignee.username }}>
        {% else %}
            <img src="{{ commit.imagem }}" title={{ i.assignee.username }}>
        {% endif %}
        <span class="nome fonte14 fonteBold">{{commit.nome}}</span>
        <span class="fonte12 titulo">{{ commit.titulo }}</span>
        <span class="fonte12 minutos">{{i.data}}</span>
        <hr>
        {% endfor %}
    {% endfor %}
    <br>
</div>

<div class="issues">
    <span class="fonteRegular fonte16">Últimos 10 issues</span>
    {% for j in issues %}
        {% for issue in j.issues %}
            <p></p>
            {% if issue.imagem == none %}
                <img src="{% static 'assets/fotoPerfil.png' %}" title={{ j.assignee.username }}>
            {% else %}
                <img src="{{ issue.imagem }}" title={{ j.assignee.username }}>
            {% endif %}
            <span class="nome fonte14 fonteBold">{{issue.nome}}</span>
            <span class="fonte12 titulo">{{issue.titulo}}</span>
            <span class="fonte12 minutos">{{j.data}}</span>
            <hr>
        {% endfor %}
    {% endfor %}
    <br>
</div>

</body>
</html>
