main {
    position: fixed;
    width: 90vw;
    left: 5vw;
    margin: 0;
}

.dia {
    margin-bottom: 20px;
}

.dia > span:first-child {
    margin-right: 10px;
}

.dia:first-of-type {
    margin-top: 10px;
}

.commit {
    position: relative;
    background-color:#3B3B3B;
    margin-bottom: 10px;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.commit > div{
    display: inline-block;
    width: 85%;
    margin-left: 100px;
}


.commit > span:nth-child(3) {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 10px;
}

.commit > span:last-child {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0,-50%);
}

.commit > img {
    width: 60px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 50%;
}

#atualizacao {
    display: block;
    position: relative;
    text-align: end;
    right: 5vw;
}

#lista_commits {
    height: 500px;
    overflow-y: auto;
}