.selecionar{
    position: relative;
    width: 200px;
    height: 40px;
    margin-top: 80px ;
    margin-left: 5%;
    z-index: 6;
    margin-bottom: 30px;
}

.selecionar div:first-child{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.drop{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0,100%);
    flex-direction: column;
    justify-content: space-between;
}
.drop span{
    width: 200px;
    height: 35px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid white;
    line-height: 35px;
}
