main {
    position: fixed;
    width: 90vw;
    left: 5vw;
    margin: 0;
}

.caminho{
    margin: 40px 0 10px 0;
}

.ultimo_commit {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#barra{
    width:100%;
    margin-bottom: 15px;
    margin-top: 0;
}

.selecionar{
    margin-left: 0;
    margin-top: 15px;
}

.atualizacao{
    right:0;
}

.temp_img{
    height:65px;
    width: 65px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-left: 30px;
}

.info_commit {
    margin-left: 30px;
}

.info_commit > span:last-child {
    margin-left: 20px;
}

#info_ficheiro {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
    box-shadow:0px 0px 0px 1px white inset;
    margin-top: 20px;
    margin-bottom: 20px;
}

#info_ficheiro > span {
    padding-left: 30px;
    padding-right: 30px;
}

#info_ficheiro > span {
    padding-left: 30px;
    padding-right: 30px;
}

.dia {
    margin-bottom: 20px;
}

.dia > span:first-child {
    margin-right: 10px;
}

.dia:first-of-type {
    margin-top: 10px;
}

.commit_file {
    background-color:#3B3B3B;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.commit_file > span {
    margin-left: 30px;
    margin-right: 100px;
}

.setaAlt {
    position: absolute;
    width: 60px;
    right: 30px;
}

.rodar_seta {
    transform: rotate(180deg);
}

.alteracoes {
    margin-top: 10px;
    margin-left: 50px;
}

