@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html{
    font-family: 'Poppins', sans-serif;
    background-color:#1B1B1B;
    color:#FFFFFF;
    font-size: 18px;
}

header {
    background-color: #060606;
    height: 60px;
    width: 100vw;
    margin: 0;
}

body{
    margin: 0;
}

a{
    text-decoration: inherit;
    color: inherit;
}

.fontePoppins{font-family: 'Poppins', sans-serif;}

.fonteLight{font-weight: 300;}

.fonteRegular{font-weight: 400;}

.fonteSemiBold{font-weight: 600;}

.fonteBold{font-weight: 700;}

.fonte12{font-size: 12px;}

.fonte14{font-size: 14px;}

.fonte16{font-size: 16px;}

.fonte18{font-size: 18px;}

.fonte22{font-size: 22px;}

.fonte24{font-size: 24px;}

.fonte36{font-size: 36px;}

.fonte48{font-size: 48px;}

.fonte80{font-size: 80px;}

.fonteRoxo{color:#E74EC3;}

.fonteCinzento{color: #BBBBBB;}

.fonteBranco{color:#FFFFFF;}

.fundoPreto{background-color:#060606;}

.fundoEscuro{background-color:#1B1B1B;}

.fundoCinzento{background-color:#3B3B3B;}

/*PROJECT PAGE*/

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    margin-top: 50px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #6333FF;
    top: 0;
    bottom: 0;
    left: 2%;
}

/* Container around content */
.container{
    padding: 15px 40px;
    position: relative;
    width: 80vw;
    left: 6.2vw;
    display: flex;
}

/* The actual content */
.commit{
    position: absolute;
    padding: 15px 0 30px;
    border-bottom: 2px solid #3B3B3B;
    left: 67px;
    width: 94%;
}

.commit_pic{
    width: 4%;
    height: 4%;
    z-index: 1;
}

.commit_text{
    padding-left: 3em;
}

.seta{
    position: relative;
}

.rodar_seta {
    transform: rotate(180deg);
}

.alteracoes {
    margin-top: 10px;
    margin-left: 50px;
}