.grid {
    display: grid;
    grid-template-columns: 0.3fr 2fr 0.3fr 0.3fr 2fr 1fr;
    column-gap: 25px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
    position: relative;

}

.grid_form{
    display: block;
    position: absolute;
    top: 60%;
    left: 200px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    align-content: center;
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.barra {
    height: 1.5px;
    width: 100%;
    background-color: #E74EC3;
}

.icon {
    width: 30px;
    height: 30px;
}

.block {
    margin-left: 80px;
    margin-right: 80px;
}

.item1 {
    height: 150px;
    width: 150px;
}

.item1 img {
    width: 150px;
    height: auto;
}

.item2,
.item3,
.item4{
    margin-top: 50px;
    text-align: left;
}

.item6 {
    text-align: right;
}