.headerMain{
    margin-bottom: 3%;
}

header {
    position: relative;
    background-color: #060606;
    height: 60px;
    width: 100vw;
    margin: 0;
    display: flex;
    align-content: center;
}

header .logo{
    position: absolute;
    left:5vw;
    top:50%;
    transform: translate(0,-50%);
}

header a{
    position: absolute;
    right:5%;
    transform: translate(0,-50%);
}

header .usuario{
    position: absolute;
    right: 12vw;
    text-align: right;
    top: 2vh;
    line-height: 80%;
}

header .avatar{
    border-radius: 50%;
    right: 2vw;
    position: absolute;
    top: 1vh;
}

.usuario span {
    display: block;
    height: 15px;
}

.imagemProjeto {
    width: 100px;
    height: 100px;
}


.dir img, h1, h2{
    display: inline-block;
}

.nomeProjeto{
    margin-top: 20px;
    padding-top: 15px;
    margin-left: 20px;
}

.contadores div {
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left:20px;
}

.contadores{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.topo, .menu{
    width: 90vw;
    margin-left: 5vw;
}

.topo > div{
    display: flex;
    flex-direction: column;
    width: 60px;
}

.topo {
    display: flex;
    flex-direction: row;
    align-items:  center;
}

.menu{
    margin-bottom: 2%;
}

.menu ul {
    margin-bottom: 0;
    padding-inline-start: 0;
    margin-block-start: 0;
}

.menu ul li{
    display: inline;
    margin-right: 3%;
}

.menu hr{
    width:90%;
    border: 2px solid white;
    position: absolute;
}

/*.menu hr.rosa{
    width: 9%;
    border: 2px solid #AB3D79;
}*/


.selecionar{
    position: relative;
    width: 280px;
    height: 40px;
    margin-top: 2%;
    margin-left: 5%;
    z-index: 6;
}

.selecionar div:first-child{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.drop{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0,100%);
    flex-direction: column;
    justify-content: space-between;
}
.drop span{
    width: 280px;
    height: 35px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid white;
    line-height: 35px;
}

#barra{
    position: relative;
    margin-top: 15px;
    width: 100%;
    margin-bottom: 40px;
}

.atualizacao{
    position: absolute;
    right: 5%;
    line-height: 40px;
}

