main{
    position: fixed;
    width: 90vw;
    height: 100%;
    left:5vw;
    margin: 0;
    overflow-y: hidden;
}

#issueTipos {
    padding: 5px;
    position: relative;
}

#issueTipos div{
    margin-right: 50px;
}

#issueNavWrap {
    position: relative;
    height: calc(100% - 5px);
    width: calc(100% - 5px);
}

#issueNavWrap div{
    display: inline-block;
}

.issueTipoN{
    background-color: #3B3B3B;
    height: 25px;
    padding: 0 10px;
    line-height: 25px;
    border-radius: 10px;
    position: relative;
    bottom: 1px;
}

.issueTipoAtivo{
    border-color: #E74EC3;
    border-width: 3px;
    border-style: hidden hidden solid hidden;
}

#atualizacao{
    display: block;
    position: absolute;
    right: 7px;
    bottom: 5px;
}

#atualizacao span{
    line-height: 100%;
    text-align: right;
}

#issues{
    position: absolute;
    margin-top: 15px;
    border-color: #FFFFFF;
    border-width: 1px;
    border-style: solid hidden hidden hidden;
    height: calc(100% - 60px);
    overflow-y: auto;
}

.issue {
    display: block;
    position: relative;
    padding: 10px;
    min-height: 65px;
    border-color: #FFFFFF;
    border-width: 1px;
    border-style: hidden hidden solid hidden;
}

.issueInfoEsquerda {
    position: absolute;
    bottom: 10px;
}

.issueInfoEsquerda img {
    position: relative;
    top: 10px;
    width: 35px;
}

.issueTitulo {
    display: block;
}

.issueID, .issueCriacao, .issueMilestone, .issueDataLimite, .issueItiqueta, .issueEstimativa{
    display: inline-block;
    margin-right: 10px;
}

.issueEtiqueta {
    position: relative;
    bottom: 5px;
    height: 20px;
    line-height: 20px;
    background-color: darkblue;
    padding: 0 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.issueInfoDireita {
    background-color: lightskyblue;
    position: absolute;
    height: 100%;
    top: 5px;
    right: 7px;
}

.issueInfoDireita div {
    position: relative;
    height: 100%;
}

.issueInfoDireita img {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 7px;
    top: 10px;
    border-radius: 50%;
}

.issueAtualizacao{
    position: absolute;
    text-align: right;
    width: 300px;
    bottom: 14px;
    right: 7px;
}

#direita{
    transform: rotate(-90deg);
    position: relative;
    top: 8px;
}
#esquerda{
    transform: rotate(90deg);
    position: relative;
    top: 8px;
}


#page{
    background-color: #3B3B3B;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 10px;
    position: relative;
    bottom: 1px;
}




