input {
    color: white;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #E74EC3;
    border-radius: 5px;
}

input[type=text]{
    margin-top: 0;
    background-color: #1B1B1B;
    padding: 10px 20px;
    width: 306px;
    height: 30px;
}

input[type=submit]{
    background-color: #E74EC3;
    border: none;
    width: 124px;
    margin-left: 112px;
    transition: background-color 0.3s ease-in-out;
}

input[type=submit]:hover{
    background-color: #6333FF;
}

.title{
    color: #E74EC3;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
}

div{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    gap: 185px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label{
    padding-bottom: 0;
}