.geral{
    position: absolute;
    width: 90%;
    height: 60%;
    margin-left: 5%;
    margin-right: 5%;
}

.barra{
    background: #3B3B3B;
    color: white;
    display: grid;
    grid-template-columns: 25% 25% 28% 22%;
    margin-top: 3%;
    border-radius: 5px;

}
.barra h2{
    margin-left: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.ficheiro{
    display: grid;
    grid-template-columns: 9% 25% 23% 30% 13%;
    grid-template-rows: auto;
    margin-top: 1%;
}
table{
    width:100%;
}

tr{
    border-bottom:  1px solid;
}

td img{
    margin-top: -5%;
    margin-left:30%;
}

div[id*="inf"]{
    display: flex;
    flex-direction: row;
    align-items: center;
}

div[id*="inf"] > span {
    margin-left: 2%;
    padding-left:5px;
    padding-right: 5px;
    background-color: #7E7E7E;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    vertical-align: center;
    font-size: 14px;
}

.hideInf{
    display: none;
}

.at{
    margin-left: 47%;
    font-size: 18px;
}
.cima{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nomepessoa{
    padding-left: 3.5%;
}
.acesso{
    padding-left: 13.9%;
}
.cargo{
}

/*temp!*/

.cima > div {
    height: 60px;
    display: inline-block;
}
