.fperfil{
    margin-left: 50%;
    transform: translate(-50%,0);
}
.nome{
    text-align: center;
    margin-top: -2%;
}
#cnome{
    width: 10%;
    margin-left: 50%;
    transform: translate(-50%,0);
    padding: 0.5%;
    background-color: #BBBBBB;
    color: #060606;
    border-radius: 20px;
}

.navTabela{
    margin-left: 5%;
}

.navTimeline{
    margin-left: 4%;
}
hr{
    width: 580px;
    margin-left: 5%;
    position: absolute;
    border: 2px solid #FFFFFF;
}
.rosaTabela{
    width: 270px;
    margin-left: 5%;
    border: 3px solid #E74EC3;
}

.rosaTimeline {
    width: 300px;
    margin-left: calc(280px + 5%);
    border: 3px solid #E74EC3;
}

.mais{
    text-align: center;
    border: 2px solid #6F51D2;
    border-radius: 5px;
    margin-left: 18.3%;
    margin-right: 18.3%;
    margin-bottom: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.info2{
    margin-left: 1.4%;
    margin-bottom: -0.2%;
}
.hora2{
    margin-left: 1.8%;
}
.pessoa2{
    margin-left: 1%;
}

.titulo{
    margin-left: 5%;
    margin-bottom: 1.4%;
}

.borda{
    width: 90%;
    border: 2px solid #6F51D2;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 18.5%;
    margin-bottom: 2%;
    padding-bottom: 0.5%;
}

.navegacao span{
    position: relative;
}

.timeline{
    margin-top: 50px;
}
.tabela{
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
}

.tabela div:first-child{
    border-top: 1px solid white;
}

.tabela div{
    position: relative;
    height: 65px;
    border-bottom: 1px solid white;
}
.tabela div:last-child{
    border-bottom: 0;
    border-top: 0;
    right: 5%;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tabela span{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    margin-left: 5px;
}
#direita{
    transform: rotate(-90deg);
}
#esquerda{
    transform: rotate(90deg);
}
.image{
    border-radius: 50%;
    margin-bottom: 3%;
}