.ultimo_commit {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
}

.temp_img {
    height:65px;
    width: 65px;
    border-radius: 50%;
    margin-left: 30px;
}

.temp_img > img {
    width: 100%;
    border-radius: 50%;
}

.info_commit {
    margin-left: 30px;
}

.info_commit > span:last-child {
    margin-left: 20px;
}

.geral{

    width: 90%;
    height: 60%;
    margin-left: 5%;
    margin-right: 5%;
}

.barra{
    background: #3B3B3B;
    color: white;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 3%;
    border-radius: 5px;

}
.barra h2{
    margin-left: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
}


.pasta{
    display: grid;
    grid-template-columns: 12% 34% 35% 19%;
    grid-template-rows: auto;
    margin-top: 1%;
}
table{
    width:100%;
    margin-bottom: 2%;
}

tr td{
    border-bottom:  1px solid;
}

td img{
    margin-top: -5%;
    margin-left:30%;
}