.commits .minutos, .issues .minutos{
    float: right;
}

.commits span:first-child, .issues span:first-child{
    margin-top: 5%;
}

.commits, .issues{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    position: relative;
}

.commits{
    margin-top: 5%;
}

.issues{
    margin-top: 7vh;
}

.commits .nome, .issues .nome{
    position: relative;
    top: 40%;
    margin-left: 5%;
}

.commits img, .issues img{
    position: absolute;
    border-radius: 50%;
    width: 3%;
}

.commits .titulo, .issues .titulo{
    margin-left: 5%;
}

.commits hr, .issues hr{
    margin-top: 2%;
}
